.TodoList {
}

.TodoList .TodoSearch {
  width:100%;
  border:none;
  border-bottom: 1px solid rgb(220,220,220);
  padding: 10px 0;
  outline: none;
  transition: border 0.3s ease;
  margin: 20px 0;
}

.TodoList input:focus{
  border-bottom: 1px solid #1f93ff;
}

.TodoList .todos-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
}