*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.container i{
  font-size:200px;
  transition: color 0.5s ease;
}

.container i:hover{
  color:#297cfa;
  animation: circle 1000s infinite;
}

@keyframes circle{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(36000deg);
  }
}